[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[[source]]
url = "https://download.pytorch.org/whl/nightly/cpu"
verify_ssl = true
name = "pytorch"

[packages]
numpy = "*"
pandas = "*"
jupyter = "*"
chardet = "*"
wfdb = "*"
scipy = "*"
pywavelets = "*"
torch = "*"
torchvision = "*"
torchaudio = "*"
matplotlib = "*"
scikit-learn = "*"

[dev-packages]

[requires]
python_version = "3.11"
python_full_version = "3.11.4"
